.info-card{
    background: #FFF;
    width: 85%;
    margin: auto;
    border-radius: 3px;
    box-shadow: 1px 1px 2px grey;
    display: grid;
    grid-template-columns: 25% auto;
}

.info-card .logo{
    margin-left: 100px;
    padding: 25px;
}

.info-card .logo img{
    width: 150px;
    box-shadow: 1px 1px 2px grey;
}

.info-card .details{
    margin-left: 0px;
    padding-left: 0px;
}