.detail-area{
    padding: 10px
}

.detail-field{
    color: #596C82;
    font-size: 13px;
    font-weight: 700;
    margin: 0px;
}

.detail-value{
    margin: 5px;
    border-bottom: 1px solid #E6E4E4;
    white-space: nowrap;  
    overflow: hidden;
    text-overflow: ellipsis; 
}