.App {
  background: #F5F5F5 fixed;
  padding-bottom: 45px;
  height: auto;
}

.App .tab{
  width: 85%;
  margin: auto;
  background: #FFF;
  box-shadow: 1px 1px 2px grey;
  margin-top: 25px;
}

#tablist{
  border-color: #4093D1;
  padding-top: 20px;
  width: 95%;
  margin:auto;
  font-size: 20px;
}